body{
	background: black;
}
.heading{
	color: darkorange;
    font-size: 50px;
    font-style: italic;
}
.time th{
	color: white;
	padding: 40px;
}
.time td{
	color: black;
	padding-left: 50px;
	font-size: 40px;
	background: white;
	
}
.timer th{
	color: white;
	padding: 40px;
}
.timer td{
	color: black;
	padding-left: 50px;
	font-size: 40px;
	background: white;
	
}

.fact{
	color: white;
	text-align: center;
	}
#start{
	width: 100px;
	height: 30px;
	font-size: 20px;
	border: none;
	outline: none;

}
#stop{
	width: 100px;
	height: 30px;	
	font-size: 20px;
	border: none;
	outline: none;
}
#reset{
	width: 100px;
	height: 30px;
	font-size: 20px;
	border: none;
	outline: none;
}
button{
	transition: background 3s;
}

button:hover{
	background: darkorange;
	color: white;
}
